<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
-->
<plugin id="org.dita.specialization.nokia">
  <feature extension="package.version"
           value="0.1.0" />
  <!--
  <feature extension="dita.xsl.xhtml"
           type="file"
           value="xsl/nokia2xhtmlImpl.xsl" />
  -->
  <feature extension="dita.conductor.target.relative"
           type="file"
           value="conductor.xml" />
  <feature extension="dita.xsl.strings"
           value="xsl/nokia-strings.xml"
           type="file"/>
  <feature extension="dita.conductor.xhtml.param"
           value="xhtmlParameters.xml"
           type="file"/>
  <feature extension="dita.conductor.transtype.check" value="xhtml.nokia,eclipsehelp.nokia" type="text"/>
</plugin>
