<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
-->
<plugin id="org.dita.specialization.cxxapiref">
  <require plugin="org.dita.specialization.apiref"/>
  <feature extension="dita.specialization.catalog"
      value="catalog-dita.xml" type="file"/>
  <feature extension="dita.xsl.xhtml"
      value="xsl/cxxref2xhtml.xsl" type="file"/>
  <feature extension="dita.conductor.target"
      value="conductor.xml" type="file"/>
</plugin>
